
h1{
    text-align: center;
    margin-bottom: 40px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.item{
    min-height: 20rem;
    min-width: 33.5rem;
}

.item img{
    height: 50%;
    border-radius: 0.5rem;
    border: 2px solid #FCA61F;
    pointer-events: none;
}

.inner-carousel{
    display: flex;  
    height: 120vh;
}

.carousel{
    cursor: grab;
    margin: 0 20%;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    .carousel{
        width: 100%;
        margin: 0 5%;
        display: block;
    }

    .item{
        min-height: 20rem;
        min-width: 52rem;
    }

    .item img{
        height: 50%;
        border-radius: 0.5rem;
        border: 2px solid #FCA61F;
        pointer-events: none;
    }

    h1{
        padding-top: 6rem;  
    }
}