.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 4.5rem;
}

.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name{
    font-size: 1.3rem;
    font-weight: bold;
}

.n-right{
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.n-list{
    flex: 40;
    font-weight: 600;
    font-size: 1.3rem;
}

.n-list>ul{
    display: flex;
    gap: 5rem;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.n-list>ul>*:hover{
    cursor: pointer;
    color: var(--orange);
}

@media screen and (max-width: 480px) {
    .n-list{
        display: none;
    }

    .n-name{
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}