:root
{
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --btnShadow:0px 10px 24px 3px hsl(317 100% 54%);
    --btnBackground:hsl(317 100% 54%);
    max-width: 1400px;
} 

.App{
    overflow: hidden;
    color: var(--black);    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: normal;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

button{
  border: none;
  border-radius: 34px;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  background: linear-gradient(180deg, #f8c007 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
  max-width: 1400px;
  margin: 0 auto;
}

button:hover{
  cursor: pointer;
  background: var(--btnBackground);
  box-shadow: var(--btnShadow);
  color: #fff;
}
